<nav *ngIf="isLoggedIn" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <strong>DDD</strong>
    </a>

    <a (click)="toggleNavBarMenu()" [ngClass]="{'is-active': navBarActive}" role="button" class="navbar-burger burger"
      aria-label="menu" aria-expanded="false" data-target="navBarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navBarMenu" [ngClass]="{'is-active': navBarActive}" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/main" class="navbar-item">
        Main
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a (click)="doLogout()" class="button is-danger">
            Log Out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>