<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        <div class="box">
          <div class="columns is-multiline">
            <div class="column is-10 is-offset-1">
              <button (click)="doGoogleLogin()" class="button is-danger is-fullwidth"><i class="icon-right fa fa-google"></i>Login
                with Google</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>